@model IEnumerable<TP03AniversarioWeb.Models.Pessoa>

@{
    ViewData["Title"] = "index";
}


    <form class="form-inline">
        <h1>TP3 - Data de aniversário</h1>
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        <!-- <a class="btn btn-outline-success my-2 my-sm-0" href="/pessoa.Id/Pesquisar?id">Pesquisar</a> -->
    </form>


@if (!String.IsNullOrEmpty(ViewBag.Massege))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<p>
    <a asp-action="Create">Cadastro de Pessoas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateNascimento)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Pessoa/Edit?id=@item.Id">Editar</a>|
                    <a class="btn btn-warning btn-sm" href="/Pessoa/Details?id=@item.Id">Detalhes</a> |
                    <a class="btn btn-warning btn-sm" href="/Pessoa/Delete?id=@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
